<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Resizer</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <div></div>
        <input type="text" name="scale" placeholder="Scale (default 1.0)">
        <div class="g-recaptcha" data-sitekey="6LfD_2cqAAAAAHhEdlBNdw3tK-Ycbqx_o3On52fy"></div>
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>